* {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: #424141;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu {
  display: flex;
  list-style: none;
  color: white;
  font-size: 18px;
  align-items: center;
  padding: 5px;
}

li {
  margin-right: 20px;
}

.logo {
  width: 100px;
  padding: 5px;
}

/* banner */

.banner-container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
  color: white;
  background-image: url("./images/background.png"),
    linear-gradient(45deg, rgb(5, 5, 5), rgb(46, 43, 43));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  font-size: 55px;
}

p {
  margin: 20px 0;
  font-size: 18px;
}

.photo {
  width: 300px;
}

.btn {
  background-color: red;
  color: white;
  padding: 13px 20px;
  border: none;
  border-radius: 3px;
}

/* about us */

.about-us {
  text-align: center;
  font-size: 54px;
  margin: 20px 0;
}

.about-us-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding: 20px 0;
}

.about-us-image {
  width: 20%;
}

.about-photo {
  width: 100%;
}

.about-us-title {
  font-size: 25px;
}

/* services section */

.services-container {
  background-image: url("./images/background.png"),
    linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);
  color: white;
  padding: 50px;
  flex-wrap: wrap;
}

.box-container {
  display: flex;
  justify-content: space-around;
}

.box {
  /* background-color: #131313; */
  color: white;
  text-align: center;
  width: 200px;
  height: 280px;
  border-radius: 10px;
  margin: 0 10px;
  box-shadow: 4px 2px 105px gray;
  padding: 15px;
}

.icon {
  width: 70px;
}

.box-title {
  font-size: 25px;
  margin-top: 10px;
}

.box p {
  font-size: 16px;
  margin-top: 10px;
}

.box-btn {
  background-color: #1c1b1b;
}
